<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
  <h2>📘 Study Hub</h2>
  <div>
    <a href="/dashboard">Home</a>
    <a href="/exam">Exam</a>
    <a href="/logout">Logout</a>
  </div>
</div>

<h1>Welcome {{ user }}</h1>

<div class="container">

  <div class="card">
    <h3>📘 HTML</h3>
    <p>Learn structure of web pages</p>
  </div>

  <div class="card">
    <h3>🎨 CSS</h3>
    <p>Design beautiful websites</p>
  </div>

  <div class="card">
    <h3>⚡ JavaScript</h3>
    <p>Add interactivity</p>
  </div>

</div>

<div style="text-align:center;">
  <a href="/exam">
    <button>Start Exam</button>
  </a>
</div>

</body>

</html>