<!DOCTYPE html>
<html>
<head>
  <title>Study Hub</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
  <h2>📘 Study Hub</h2>
  <div>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  </div>
</div>

<h1>Learn Programming Easily 🚀</h1>

<p style="text-align:center;">
  Notes, Exams, and Certificates in one place
</p>

<div style="text-align:center;">
  <a href="/login">
    <button>Get Started</button>
  </a>
</div>

</body>
</html>
